<a href="https://colab.research.google.com/github/rabiyulfahimhasim786/pandas/blob/main/pandas_merging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import pandas as pd
data1 = pd.read_csv("text.csv", encoding= 'unicode_escape', header=0, dtype=str)
data1.head()

  Unnamed: 0  PageNo                                               Text
0          0  page_1  ['Notice', 'CP140', 'Department of the Treasur...

In [47]:
data1.shape

(1, 3)

In [48]:
data2 = pd.read_csv("key_value.csv", encoding= 'unicode_escape', header=0, dtype=str)
data2.head()

  Unnamed: 0                Keys             Values
0          0            Tax form                941
1          1              Notice              CP140
2          2         Notice date  November 21, 2022
3          3  Employer ID number         XX-XXX8584
4          4          Tax period      June 30, 2020

In [49]:
data2.shape

(10, 3)

In [53]:
data3 = pd.read_csv("datas.csv", encoding= 'unicode_escape', header=0, dtype=str)
data3.head()

     0         1       2      3
0  NaN  22 - PET  494016  $2.99
1    1  22 - PET  501290  $2.99
2    2  22 - PET  452039  $6.99

In [54]:
data3.shape

(3, 4)

In [55]:
concate_data = pd.concat([data1,data2,data3], ignore_index=True)
concate_data.head()

,Unnamed: 0,PageNo,Text,Keys,Values,0,1,2,3
0,0,page_1,"['Notice', 'CP140', 'Department of the Treasur...",NaN,NaN,NaN,NaN,NaN,NaN
1,0,NaN,NaN,Tax form,941,NaN,NaN,NaN,NaN
2,1,NaN,NaN,Notice,CP140,NaN,NaN,NaN,NaN
3,2,NaN,NaN,Notice date,"November 21, 2022",NaN,NaN,NaN,NaN
4,3,NaN,NaN,Employer ID number,XX-XXX8584,NaN,NaN,NaN,NaN

In [56]:
concate_data.to_csv('data.csv', index=False)
# c = concate_data.dropna
# c
concate_data

,Unnamed: 0,PageNo,Text,Keys,Values,0,1,2,3
0,0,page_1,"['Notice', 'CP140', 'Department of the Treasur...",NaN,NaN,NaN,NaN,NaN,NaN
1,0,NaN,NaN,Tax form,941,NaN,NaN,NaN,NaN
2,1,NaN,NaN,Notice,CP140,NaN,NaN,NaN,NaN
3,2,NaN,NaN,Notice date,"November 21, 2022",NaN,NaN,NaN,NaN
4,3,NaN,NaN,Employer ID number,XX-XXX8584,NaN,NaN,NaN,NaN
5,4,NaN,NaN,Tax period,"June 30, 2020",NaN,NaN,NaN,NaN
6,5,NaN,NaN,To contact us,Phone 844-875-3420,NaN,NaN,NaN,NaN
7,6,NaN,NaN,Taxpayer number,6399084080,NaN,NaN,NaN,NaN
8,7,NaN,NaN,Current law requires us to contract with quali...,"COAST PROFESSIONAL, INC. PO BOX 425 GENESEO, N...",NaN,NaN,NaN,NaN
9,8,NaN,NaN,Additional information,VALUE_NOT_FOUND,NaN,NaN,NaN,NaN
10,9,NaN,NaN,You can also find the following online:,"Publication 1, Your Rights as a Taxpayer For t...",NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,22 - PET,494016,$2.99
12,NaN,NaN,NaN,NaN,NaN,1,22 - PET,501290,$2.99
13,NaN,NaN,NaN,NaN,NaN,2,22 - PET,452039,$6.99

In [61]:
import pandas as pd

a = pd.read_csv("text.csv")
b = pd.read_csv("key_value.csv")
frames=[a,b]
mergedFrames=pd.DataFrame()
mergedFrames=pd.concat(frames, ignore_index=True)
mergedFrames.to_csv('test.csv')
mergedFrames

,Unnamed: 0,PageNo,Text,Keys,Values
0,0,page_1,"['Notice', 'CP140', 'Department of the Treasur...",NaN,NaN
1,0,NaN,NaN,Tax form,941
2,1,NaN,NaN,Notice,CP140
3,2,NaN,NaN,Notice date,"November 21, 2022"
4,3,NaN,NaN,Employer ID number,XX-XXX8584
5,4,NaN,NaN,Tax period,"June 30, 2020"
6,5,NaN,NaN,To contact us,Phone 844-875-3420
7,6,NaN,NaN,Taxpayer number,6399084080
8,7,NaN,NaN,Current law requires us to contract with quali...,"COAST PROFESSIONAL, INC. PO BOX 425 GENESEO, N..."
9,8,NaN,NaN,Additional information,VALUE_NOT_FOUND
10,9,NaN,NaN,You can also find the following online:,"Publication 1, Your Rights as a Taxpayer For t..."

**merging succeesful method**

In [82]:
import pandas as pd
import io

csv_list = ('text.csv', 'key_value.csv', 'datas.csv')

#df_master = pd.read_csv('filepaths.csv')
prefix_df = []
for csv_file in csv_list:
    df = pd.read_csv(csv_file, encoding='utf8',  header=None,  dtype=str)
    #df.to_csv('filepaths.csv', mode='a', header=False, index=False)
    #test = pd.concat(df, ignore_index=True)
    prefix_df.append(df)
    data = pd.concat(prefix_df, ignore_index=True)
data

,0,1,2,3
0,NaN,PageNo,Text,NaN
1,0,page_1,"['Notice', 'CP140', 'Department of the Treasur...",NaN
2,NaN,Keys,Values,NaN
3,0,Tax form,941,NaN
4,1,Notice,CP140,NaN
5,2,Notice date,"November 21, 2022",NaN
6,3,Employer ID number,XX-XXX8584,NaN
7,4,Tax period,"June 30, 2020",NaN
8,5,To contact us,Phone 844-875-3420,NaN
9,6,Taxpayer number,6399084080,NaN
10,7,Current law requires us to contract with quali...,"COAST PROFESSIONAL, INC. PO BOX 425 GENESEO, N...",NaN
11,8,Additional information,VALUE_NOT_FOUND,NaN
12,9,You can also find the following online:,"Publication 1, Your Rights as a Taxpayer For t...",NaN
13,0,1,2,3
14,NaN,22 - PET,494016,$2.99
15,1,22 - PET,501290,$2.99
16,2,22 - PET,452039,$6.99

In [84]:
data.to_csv('sampledatas2.csv', index=False)

In [66]:

# Using data library
import dask.dataframe as dd
df = dd.read_csv("*.csv")
df

Dask DataFrame Structure:
              Unnamed: 0  PageNo    Text    Keys  Values        0        1        2        3
npartitions=6
                   int64  object  object  object  object  float64  float64  float64  float64
                     ...     ...     ...     ...     ...      ...      ...      ...      ...
...                  ...     ...     ...     ...     ...      ...      ...      ...      ...
                     ...     ...     ...     ...     ...      ...      ...      ...      ...
                     ...     ...     ...     ...     ...      ...      ...      ...      ...
Dask Name: read-csv, 6 tasks

In [71]:
import pandas as pd
filenames = ['table.csv', 'key_value.csv']
combined_csv = pd.concat( [ pd.read_csv(f) for f in filenames ] )
combined_csv

,Unnamed: 0,22 - PET,494016,$2.99,Keys,Values
0,1,22 - PET,501290.0,$2.99,NaN,NaN
1,2,22 - PET,452039.0,$6.99,NaN,NaN
0,0,NaN,NaN,NaN,Tax form,941
1,1,NaN,NaN,NaN,Notice,CP140
2,2,NaN,NaN,NaN,Notice date,"November 21, 2022"
3,3,NaN,NaN,NaN,Employer ID number,XX-XXX8584
4,4,NaN,NaN,NaN,Tax period,"June 30, 2020"
5,5,NaN,NaN,NaN,To contact us,Phone 844-875-3420
6,6,NaN,NaN,NaN,Taxpayer number,6399084080
7,7,NaN,NaN,NaN,Current law requires us to contract with quali...,"COAST PROFESSIONAL, INC. PO BOX 425 GENESEO, N..."
8,8,NaN,NaN,NaN,Additional information,VALUE_NOT_FOUND
9,9,NaN,NaN,NaN,You can also find the following online:,"Publication 1, Your Rights as a Taxpayer For t..."